<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <!-- Stylesheets -->
    <%- include('./requireViews/linksView.ejs', {}) %>

  </head>
  <body>
    
    <h1>AdmiView</h1>



    <!-- Scripts -->
    <%- include('./requireViews/scriptsView.ejs', {}) %>
  </body>
</html>
